<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper">
    <h1>
      Question domain classifier
    </h1>
  </div>
</nav>
<div class="bodyClass">
  <p>
    Please, type your question on the text area below to classify the question domain
  </p>
  <form (submit)="onSubmit()">
    <mat-form-field>
      <textarea matInput [(ngModel)]="question" #ctrl="ngModel" required name="question" placeholder="Make a question">
      </textarea>
    </mat-form-field>
    <mat-form-field>
      <button mat-button> Classificar </button>
    </mat-form-field>
  </form>

  <mat-card>
    <mat-list role="list">
      <mat-list-item *ngFor="let class of classes"
                     [ngClass]="{predictedClass: answer == class }"> 
        {{class}} 
      </mat-list-item>
    </mat-list>
  </mat-card>

</div>

<router-outlet></router-outlet>
